@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap');

.headerDiv {
    height: 100px;
    width: 100%;
    background-color: #892362;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 30px 0px;
}
.headerDiv-T {
    height: 100px;
    width: 100%;
    background-color: #d89b0b;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 30px 0px;
}
.headerTitle {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.img_card {
    height: 40vh;
    background-color: #000;
   
    background-position: 50% 10%;
    background-size: cover;
}
.crecheImg {
    background-image: url('../../../images/bgboy.jpg');
}
.preImg {
    background-image: url('../../../images/Pre.jpeg');
}
.nurseryImg {
    background-image: url('../../../images/nursery.jpeg');
}
.icon {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
.headerlink {
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}
.content {
    padding: 20px 0px;
    font-size: 1.1375rem;
    line-height: 27px;
    color:#333
}
.btn-grade {
    width: 140px;
    height: 47px;
    border: 1px solid #892362;
}
.btn-grade:hover {
    background-color: #892362;
    transition: all 0.5s ease-in-out;
    color: #fff;
    border: 1px solid #d89b0b;
}
.btn-yellow:hover {
    background-color: #d89b0b !important;

}