
.penquine_banner {
    background-image: url('../../images/AllPicture/penguin/penquin_banner.jpg');
}
#text {
    /* margin-top: 20px; */
    font-size: 18px;
    padding: 20px;
}
.imgsrc {
    /* display: flex; */
    height: 250px;
    width: 100%;
    display: flex;
}
.imgDisplay {
    display: flex;
}