
div > h3 {
    color: #892362;
    font-weight: 900;
}

 div > a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #892362;
    transition: all 1s ease-out;
}
.image_abt {
    min-height: 61vh;
    background-image: url("../../../images/game.jpg");
    background-position: center;
    background-size: cover;
}
 h4, .header {
    color: #892362 !important;
    text-transform: uppercase !important;
}
.subHeader {
    padding: 10px 30px;
}
.header {
    padding:0px 30px !important;
}
.small_png {
    height: 35px;
    width: 35px;
    text-align: center;
    margin: 0 auto;
}
.header_head {
    font-size: 18px;
    color: #892362;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
      .header {
          margin-top: 20px !important;
      }
      .mission_div {
          margin-bottom: 20px;
      }
      .mission_para {
          margin-top: -90px;
      }
      .image_abt {
          height: auto;
      }
  }